---
layout: 
---
<!DOCTYPE HTML>
<html lang="en">




{%- include head.html -%}
{%- include header.html -%}

<div class="wrapper">
<!-- <body> -->



  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:0%;padding-right:3%; padding-top: 5%;width:66.5%;vertical-align:middle">
              <!-- <h1 style="font-family:'Chakra Petch';font-weight: 800;">Abrar Anwar</h1>
              <h1 style="font-family:'Righteous';font-weight: 200;">Abrar Anwar</h1>
              <h1 style="font-family:'Russo One';font-weight: 100;">Abrar Anwar</h1> -->
              <!-- <h1 style="font-weight: 600;">Abrar Anwar</h1> -->

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisi a nunc laoreet feugiat a non sapien. Vivamus euismod nulla et libero feugiat, id egestas urna bibendum. Ut malesuada leo a nisi aliquam, nec tempor nunc interdum. Nulla facilisi. Sed sollicitudin, nulla ut sodales egestas, nisi urna auctor purus, vel ullamcorper eros purus nec elit.

              </p>
              <p>
                Mauris accumsan, sapien a vulputate cursus, libero ligula gravida nisl, sed convallis metus est in sapien. Aenean tristique justo a eros sollicitudin, in elementum lectus gravida. Integer viverra ligula sit amet feugiat porttitor. Proin at turpis suscipit, sollicitudin odio a, malesuada erat. Ut id lacinia lorem. Fusce viverra orci ut dui malesuada ultricies.
            </p>

            <p>
              Cras accumsan malesuada turpis. Proin tempor leo ut tortor laoreet, at efficitur nisi condimentum. Curabitur tempus suscipit odio, ac cursus velit vehicula id. Suspendisse potenti. Integer sollicitudin sapien in leo malesuada, at tempor lectus feugiat. Duis at arcu vitae enim aliquam vulputate. Phasellus hendrerit ante a orci venenatis, a varius augue varius.
            </p>

            <a style="border-bottom: none; color:#31918D;text-align: center;" href="mailto:abrar.anwar@usc.edu" target="_blank">





          
              <!-- <p style="text-align:center">
                <a class="button" target="_blank" href="mailto:abrar.anwar@usc.edu">email</a>
                <a class="button" target="_blank" href="https://github.com/AbrarAnwar">github</a> 
                <a class="button" target="_blank" href="https://www.linkedin.com/in/abraranwar"> linkedin </a> 
                <br>
                <a class="button" target="_blank" href="https://twitter.com/_abraranwar"> twitter </a>
                <a class="button" target="_blank" href="https://scholar.google.com/citations?user=RlmDfzoAAAAJ&hl=en"> scholar </a>
              </p> -->

              
            </td>
            <!-- <td style="padding:0%;width:33%;max-width:33%"> -->
              <td style="padding:0%;padding-right:0%; padding-left:1%; padding-top: 5%;width:33%;vertical-align:middle">



              <table style="padding:0%;width:100%;max-width: 100%;text-align: center;">
                <tr style="padding:0%">
                  <td style="padding:0%; text-align: center;">
                    <!-- <img style="width:100%;max-width:100%" alt="profile photo" src="/assets/images/index/profile_circle.png"> -->
                    <img style="width:100%;max-width:100%;border-radius: 50%;" alt="profile photo" src="/assets/images/index/rohan.png">

                  </td>
                </tr>

                <tr style="padding:0%;text-align: center;">

                  <td style="padding:0%;text-align: center;width:100%;max-width: 100%;float:left;" >
                    <div style="text-align:center">rgupta11111 [at] gmail [dot] com</div>

                    <p style="text-align:center; font-size:34px">
                      <a class="link_button" style="border-bottom: none;" href="https://scholar.google.com/citations?user=RlmDfzoAAAAJ&hl=en" target="_blank">
                        <i class="ai ai-google-scholar-square"></i>
                      </a>
        
                      <!-- <a class="link_button" style="border-bottom: none;" href="mailto:abrar.anwar@usc.edu" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a> -->
        
                      <a class="link_button" style="border-bottom: none;" href="https://github.com/rgupta96" target="_blank">
                        <i class="fab fa-github"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;" href="https://www.linkedin.com/in/rohan---gupta" target="_blank">
                        <i class="fab fa-linkedin"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;" href="https://twitter.com/rohang_tech" target="_blank">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;"  href="{{ '/assets/rohan_resume.pdf' | relative_url }}" target="_blank">
                        <i class="ai ai-cv"></i>
                      </a>
                  </p>
                  </td>

                </tr>

            </table>

            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0%;width:100%;vertical-align:middle">
              <h1 align="center">research</h1>
              <!-- <p>
                I'm interested in robotics, machine learning, neural networks, and computer vision.
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">


          {% assign postsByYear =
            site.categories.items | group_by_exp:"post", "post.date | date: '%Y'" %}
          

          {% for year in postsByYear %}
          <tr><td><h3>{{year.name}}</h3></td></tr>



            {% for post in year.items %}


            {% for cat in post.categories %}
                {% if cat == 'research' %}
              

          <tr>
            <td style="padding:0%;width:27.5%;vertical-align:middle;min-width:120px;">
              <img src="{{post.image}}" alt="project image" style="height:auto; max-width:100%;" />
            </td>
            <td style="padding:1.5%;width:100%;vertical-align:middle;margin:auto">

              <font style="font-size: 18px;"><b>{{post.title}}</b></font>
              <br>

              <font style="font-size: 14px;">{{post.authors}}</font>
              <br>

              <font style="font-size: 14px;" color="#7a7a7a">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</font>
              <br>
              <br>


              <!-- <br> -->
              <font style="font-size: 14px;"><em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} </font>
              <br>

              {% if post.paper %}
              <a class="button" href="{{post.paper}}"><b>paper</b></a> 
              {% endif %}
              {% if post.arxiv %}
              <a class="button" href="{{post.arxiv}}"><b>arxiv</b></a> 
              {% endif %}
              {% if post.tech_report %}
              <a class="button" href="{{post.tech_report}}"><b>tech report</b></a> 
              {% endif %}
              {% if post.video %}
              <a class="button" href="{{post.video}}"><b>video</b></a> 
              {% endif %}
              {% if post.code %}
              <a class="button" href="{{post.code}}"><b>code</b></a> 
              {% endif %}
              {% if post.poster %}
              <a class="button" href="{{post.poster}}"><b>poster</b></a> 
              {% endif %}
              {% if post.slides %}
              <a class="button" href="{{post.slides}}"><b>slides</b></a> 
              {% endif %}
              {% if post.website %}
              <a class="button" href="{{post.website}}"><b>website</b></a> 
              {% endif %}
              {% if post.blog %}
              <a class="button" href="{{post.blog}}"><b>blog</b></a> 
              {% endif %}
              {% if post.twitter %}
              <a class="button" href="{{post.twitter}}"><b>twitter</b></a> 
              {% endif %}
              {% if post.repo_badge %}
              {{post.repo_badge}}
              {% endif %}

            </td>
          </tr>

          {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </table>




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<!-- </body> -->
</div>
</html>
