<div style="clear: both;"/>

<footer class="site-footer">
      <p>
          <a style="border-bottom: none" href="{{ site.baseurl }}/feed.xml" target="_blank">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg>
          </a>
          <a style="border-bottom: none" href="https://github.com/rgupta96" target="_blank">
            <svg class="svg-icon grey">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
          </a>
          <a style="border-bottom: none" href="https://www.linkedin.com/in/rohan---gupta/" target="_blank">
              <svg class="svg-icon grey">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
              </svg>
          </a>
      </p>
</footer>