<footer class="site-footer">
  <p>
    <a href="{{ site.baseurl }}/feed.xml" target="_blank" rel="noopener" aria-label="RSS feed">
      <svg class="svg-icon orange">
        <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg>
    </a>
    <a href="https://github.com/rgupta96" target="_blank" rel="noopener" aria-label="GitHub">
      <svg class="svg-icon grey">
        <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/rohan---gupta/" target="_blank" rel="noopener" aria-label="LinkedIn">
      <svg class="svg-icon grey">
        <use xlink:href="{{ 'assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
  </p>
</footer>