<!-- NEWS SECTION -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr><td width="100%" valign="middle">

  <h1 id="News" align="center">news</h1>
  <table class="hoverTable" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">


    <tr>
        <td width="11%" class="has-text-grey">Oct 2025</td>
        <td>I published the open-source code for <a target="_blank" href="https://arxiv.org/abs/2510.10379">RobotFleet: An Open-Source Framework for Centralized Multi-Robot Task Planning</a> on GitHub!</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Aug 2025</td>
        <td>I served as a reviewer for the <a target="_blank" href="https://eval-deploy.github.io/">Eval & Deploy: Workshop on Evaluation and Deployment in the Robot Learning Lifecycle</a> at CoRL 2025.</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Aug 2025</td>
        <td>My work on <a target="_blank" href="https://arxiv.org/abs/2502.09829">Efficient Evaluation of Multi-Task Robot Policies With Active Experiment Selection</a> was accepted to CoRL 2025! It was presented by my collaborator and first-author Abrar Anwar.</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Jul 2025</td>
        <td> I started working as a senior machine learning engineer at Synopsys working on trainable ML models that assist with chip design. </td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Jun 2025</td>
        <td>I presented my work on <a target="_blank" href="https://arxiv.org/abs/2510.10379">RobotFleet: An Open-Source Framework for Centralized Multi-Robot Task Planning</a> as an oral presentation at the <a target="_blank" href="https://mrs-workshop.github.io/rss25/">Workshop on Multi-Robot Systems @ RSS 2025</a>!</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">May 2025</td>
        <td>I graduated with my MS in Computer Science from the University of Southern California.</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Jul 2024</td>
        <td>My paper on <a target="_blank" href="https://arxiv.org/abs/2406.13636">contrast sets for language-guided robot evaluation</a> was accepted to CoRL 2024. See you in Munich!</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">May 2024</td>
        <td>I graduated with my BS in Computer Science from the University of Southern California.</td>
      </tr>

      <tr>
        <td width="11%" class="has-text-grey">Jan 2024</td>
        <td>I was awarded the Provost's Research Fellowship (Semester Stipend) from the University of Southern California.</td>
      </tr>
  <!-- </ul> -->

  </td></tr>
  </table>

  <br>
  <details>
  <summary>2023 and Earlier</summary>

  <!-- <h2 id="2020">2020</h2> -->
  <table class="hoverTable" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">


    <tr>
      <td width="11%" class="has-text-grey">Nov 2023</td>
      <td>My work on <a target="_blank" href="https://openreview.net/pdf?id=uABEHp6tjy">efficient robot policy evaluation</a> was accepted as an oral presentation at the  <a target="_blank" href="https://sites.google.com/view/langrob-corl23/home?authuser=0">CoRL 2023 LangRob Workshop</a>!</td>
    </tr>
  </table>

</details>
