// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


    
  html {
    // background-color: #FFFFF9;
  }
  
  img {
    // border: 2px solid black;
    // border-radius: 10px;
  
  }

// for table in news sections
  .hoverTable{
    width:100%; 
    border-collapse:collapse; 
  }
  .hoverTable td{ 
    padding:2px; 
    /* border:#4e95f4 1px solid; */
    vertical-align: top; 
    text-align: left;
  }
  /* Define the default color for all the table rows */
  .hoverTable tr{
    /* background: #ffffff; */
  }
  .has-text-grey {
    color: #C12636
  }


  
  a {
    color: #E8572A;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    color: #F0A63B;
    text-decoration: none;
    border-bottom: 1px solid grey;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  .button{
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    color: #31918D;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #31918D;
    font-weight: 600;
  }
  .button:focus, .button:hover{
    box-shadow: inset 100px 0 0 0 #31918D;
    color: white;
  }
  

  .link_button{
    // display: inline-block;
    // text-align: center;
    // text-decoration: none;
    // color: #31918D;
    // background-color: #ffffff;
    // font-weight: 600;
    color: #31918D;
    text-decoration: none;
  }
  .link_button:focus, .link_button:hover{
    // color: #F0A63B;
    color: #39a9a4;
    text-decoration: none;
    border-bottom: 1px solid grey;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  

  // make mobile friendly
  @media only screen and (max-device-width: 640px) {
    td {
      display: table-row;
    }
    img {
      width: 50%
    }
  }
  
  td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  #has-text-grey {
    color: #7a7a7a
  }
  
  
  
  
  h2 {
    // font-family: 'Montserrat', 'Lato', Verdana, sans-serif;
    // font-size: 22px;
    // font-display: auto;
    // font-weight: normal;
    padding: 0px;
    margin: 0px;
    display:inline; 
  }
  
  h3 {
    // font-family: 'Montserrat', 'Lato', Verdana, sans-serif;
    // font-size: 18px;
    // font-weight: 700;
    // font-display: auto;
    padding: 0px;
    margin: 0px;
    display:inline; 
    color: #83205A
  }
  
  h1 {
    // font-family: 'Montserrat', 'Lato', Verdana, sans-serif;
    // font-size: 32px;
    // font-weight: normal;
    // font-display: auto;
    // text-align: center;
    padding: 0px;
    margin-block-start: 14px;
    margin-block-end: 14px;
    margin-left: 0px;
    margin-right: 0px;
    color: #83205A
  }
  
  .one {
    width: 160px;
    height: 160px;
    position: relative;
  }
  
  .two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  .fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  span.highlight {
    background-color: #ffffd0;
  }
  ul li {
    padding: 3px 0px;
  }
  // Settled on moving the import of syntax highlighting to the bottom of the CSS
  // ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
  //@import "highlights";
  //@import "svg-icons";